

.qm-zakat-pagination { display:none; }


.zakat-prev-Btn {
  float: left;
}

.zakat-next-Btn {
  float: right;
}

.zakat-header {
  font-size: 1.65em;
}



#block-qm-zakat-calculator-qm-zakat-calculator-block {

 background-color: #eee;
}